html{
  height: 100%;
}

body{
  margin: 0;
}

.title {
  grid-area: header;
}

.title h1{
  display: flex;
  justify-content: center;
}

.title h2{
  display: flex;
  justify-content: center;
  text-align: center;
}

.img-div {
  grid-area: paint;
}

.img-div img {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 100%;
}

.img-div p {
  display: flex;
  justify-content: flex-start;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 2vmax;
  color: grey;
}

#breguet-watches {
  grid-area: img;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
}

#breguet-watches img {
  display: flex;
  width: 31%;
}

#tribute-info {
  grid-area: text;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#tribute-info #mainInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3vmax;
  align-self: center;
}

#tribute-info #listInfo{
  display: flex;
  justify-content: flex-start;
  font-size: 2vmax;
  align-self: flex-start;
  flex-wrap: wrap;
}

#tribute-info #referenceInfo {
  font-size: 2vmax;
  align-self: center;
}

#tribute-info #referenceInfo a {
text-decoration: none;
color: black;
font-style: italic;
}


.container{
  margin-left: 5px;
  margin-right: 5px;
}

footer{
  margin-left: 0px;
  margin-right: opx;
  flex-shrink: 0;
  padding: 5px;
  background: green;
  font-size: 10px;
  border: 0px;
  margin: 0px;
  text-align: center;
}

footer a{
  color: black;
  text-decoration: none;
  text-decoration-color: black;
}

@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 150px 1fr 25px;
    grid-template-areas: 
    "header header header" 
    "img paint text";
    grid-gap: 10px;
  }
  #breguet-watches {
    flex-direction: column;
  }
  #breguet-watches img {
    width: 95%;
    height: auto;
  }
  
  #tribute-info #mainInfo {
   font-size: 1vmax;
   font-weight: bold;
  }
  
  #tribute-info #listInfo{
    font-size: 1vmax;
  }
  
  #tribute-info #referenceInfo {
    font-size: 1vmax;
  }

  .img-div p {
    font-size: 1vmax;
  }

}